/* row instead of bootstrap default column */
.navbar-nav {
    flex-direction: row;
}

/* spacing between each nav item */
.nav-item {
    padding: 11px;
    color: white;
}

nav h1 {
    color: white;
}

/* adding background image to bootstrap jumbotron and sized it */
.jumbotron {
    background-image: url("../images/02-hero-bg.jpg");
    background-size: cover;
    position: relative;
    min-height: 400px; 
    padding: 60px; 
    
}

/* jumbotron heading added myself, getting h1 to stay bottom right */
.jumbo-heading {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #343a40;
    color: white;
}

.row {
    background-color: #343a40;
    color: white;
    padding: 10px;
    margin: 10px;
}

/* trial and error sizing & positioning of images */
.row img {
    max-width: 30%;
    max-height: 30%;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}